<%- include("../includes/header.ejs"); %>

    <% if(locals.was_successful) {%>
        <script type="text/javascript">
            alert("Success!");
        </script>
    <% }%>

    <table border="1" bgcolor="#2f4f4f" style="width: 80%">
        <tr align="center">
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Voices</th>
        </tr>
        <% for(var i=0; result.length > i; i++) { %>
        <tr align="center">
            <td>
                <%= result[i].actor_name %>
                <br/>
                <img src=<%= result[i].img %>
                     style="width:58px;height:58px;">
            </td>
            <td><%= result[i].age %></td>
            <td><%= result[i].gender %></td>
            <td><a href="/actor/?actor_name=<%= result[i].actor_name %>">Voiced Characters</a></td>
        </tr>
        <% } %>
        </tr>
    </table>

<table border="1" bgcolor="#2f4f4f" style="width: 80%">
    <tr align="center">
        <th><a href="/actor/add">Add New Actor</a></th>
    </tr>
</table>


<%- include("../includes/footer.ejs"); %>