<%- include("../includes/header.ejs"); %>
<form action="/actor/insert" method="get">

    <table border="1" bgcolor="#2f4f4f" style="width: 80%">
        <tr align="center">
            <th>
                Actor/Actress Name: <input id="actor_name" name="actor_name" type="text"/>
                <br />
                <br />
                Age: <input id="age" name="age" type="text"/>
                <br />
                <br />
                Gender: <input id="gender" name="gender" type="text"/>
                <br />
                <br />
                Image URL: <input id="img" name="img" type="text"/>
                <br />
                <br />
                <input type="submit" />
            </th>
        </tr>
    </table>


</form>
<%- include("../includes/footer.ejs"); %>