<%- include("../includes/header.ejs"); %>

<table border="1" bgcolor="#2f4f4f">
    <tr align="center">
        <th><%= result[0][0].actor_name %></th>
        <th>Characters Voiced</th>
    </tr>
    <tr align="center">
        <th rowspan=<%= result[0].length%> >
            <img src=<%= result[0][0].img %>
                 style="width:258px;height:208px;">
        </th>
        <td rowspan=<%= result[0].length%>>
        <% for(var i=0; result[0].length > i; i++ ) { %>

            <%= result[0][i].character_full_name %>
            <br/><br/>
            <% } %>
        </td>
    </tr>

</table>

<%- include("../includes/footer.ejs"); %>