<!DOCTYPE html>
<html>
<style>
    body  {
        background-image: url("http://i67.tinypic.com/ehhzlx.jpg");
        background-size:cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    table, th, td {
        background: rgba(47,79,79,0.5);
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }

</style>
<center>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

</head>

<body>
<h1><%= title %></h1>
</body>


<table style="width:80%" bgcolor="#2f4f4f">
    <th><a href="/">Home</a></th>
    <th><a href="/about/about">About The Website</a></th>
    <th><a href="/characters/all">Characters</a></th>
    <th><a href="/seasonEpi/all">Seasons And Episodes</a></th>
    <th><a href="/actor/all">Voice Actor/Actress</a></th>
</table>
<br />