<%- include("../includes/header.ejs"); %>
<form action="/seasonEpi/insertEpisode" method="get">

    <table border="1" bgcolor="#2f4f4f" style="width: 80%">
        <tr align="center">
            <th>
                Season
                <select id="season_number" name="season_number" >
                    <% for(var i=0; seasons.length > i; i++ ) { %>
                    <option value="<%= seasons[i].season_number %>"><%= seasons[i].season_number  %></option>
                    <% } %>
                </select>

                <!-- Initialize the multiselect plugin: -->
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#season_number').multiselect();
                    });
                </script>

                <br/>
                <br/>
                Episode Name <input id="episode_name" name="episode_name" type="text"/>
                <br />
                <br />
                Episode Number <input id="episode_number" name="episode_number" type="text"/>
                <br />
                <br />
                Episode Plot <input id="plot" name="plot" type="text"/>
                <br />
                <br />

                <input type="submit" />
            </th>
        </tr>
    </table>

</form>

<%- include("../includes/footer.ejs"); %>