<%- include("../includes/header.ejs"); %>

    <% if(locals.was_successful) {%>
    <script type="text/javascript">
        alert("Success!");
    </script>
    <% }%>

    <table border="1" bgcolor="#2f4f4f">
        <tr align="center">
            <th>Season Number</th>
            <th>Episode Number</th>
            <th>Episode Name</th>
            <th>Plot</th>
        </tr>
        <% for(var i=0; result.length > i; i++) { %>
        <tr align="center">
            <td><%= result[i].season_number %></td>
            <td><%= result[i].episode_number %></td>
            <td><%= result[i].episode_name %></td>
            <td><%= result[i].plot %></td>
        </tr>
        <% } %>
    </table>

    <table border="1" bgcolor="#2f4f4f" style="width: 80%">
        <tr align="center">
            <th><a href="/seasonEpi/insertSeason">Add The Next Season</a></th>
            <th><a href="/seasonEpi/addEpisode">Add New Episode</a></th>
        </tr>
    </table>

<%- include("../includes/footer.ejs"); %>