<%- include("../includes/header.ejs"); %>

<table border="1" bgcolor="#2f4f4f" style="width: 80%">
    <tr align="center">
        <th>
            <h2>
                Introduction
            </h2>
            <p>
                The website main purpose is to collect and display all of the lore of every multiverse that have
                appeared in the animated show Rick and Morty. Lores will be contained by characters, items, planets,
                and universes.
            </p>
        </th>
    </tr>
    <tr align="center">
        <th>
            <p>ERD</p>
            <br />
            <img src="http://i66.tinypic.com/15nt4it.png"
                 style="width:528px;height:528px;">
        </th>
    </tr>
    <tr align="center">
        <th>
            <p>Relational </p>
            <br />
            <img src="http://i66.tinypic.com/2ag4yko.png"
                 style="width:528px;height:528px;">
        </th>
    </tr>
</table>


<%- include("../includes/footer.ejs"); %>
