<%- include("../includes/header.ejs"); %>
<form action="/characters/insert" method="get">

    <table border="1" bgcolor="#2f4f4f" style="width: 80%">
        <tr align="center">
            <th>
                Character Full Name: <input id="character_full_name" name="character_full_name" type="text"/>
                <br />
                <br />
                Age: <input id="age" name="age" type="text"/>
                <br />
                <br />
                Biography: <input id="biography" name="biography" type="text"/>
                <br />
                <br />
                Personality: <input id="personality" name="personality" type="text"/>
                <br />
                <br />
                Appearance: <input id="appearance" name="appearance" type="text"/>
                <br />
                <br />
                Species: <input id="species" name="species" type="text"/>
                <br />
                <br />

                Voice Actor/Actress
                <select id="actor_name" name="actor_name" >
                    <% for(var i=0; actors.length > i; i++ ) { %>
                    <option value="<%= actors[i].actor_name %>"><%= actors[i].actor_name %></option>
                    <% } %>
                </select>

                <!-- Initialize the multiselect plugin: -->
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#actor_name').multiselect();
                    });
                </script>
                <br/>
                <br/>
                Universe
                <select id="universe_name" name="universe_name" >
                    <% for(var i=0; universe.length > i; i++ ) { %>
                    <option value="<%= universe[i].universe_name %>"><%= universe[i].universe_name %></option>
                    <% } %>
                </select>

                <!-- Initialize the multiselect plugin: -->
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#universe_name').multiselect();
                    });
                </script>
                <br/>
                <br/>
                <input type="submit" />
            </th>
        </tr>
    </table>

</form>
<%- include("../includes/footer.ejs"); %>