<%- include("../includes/header.ejs"); %>

    <% if(locals.was_successful) {%>
        <script type="text/javascript">
            alert("Success!");
        </script>
    <% }%>

    <table border="1" bgcolor="#2f4f4f">
        <tr>
            <th>Character Name</th>
            <th>Age</th>
            <th>Appearance</th>
            <th>Biography</th>
            <th>Personality</th>
            <th>Species</th>
            <th>Planet of Origins</th>
            <th>Universe of Origins</th>
            <th>Actor/Actress</th>
        </tr>
        <% for(var i=0; result.length > i; i++) { %>
        <tr>
            <td><%= result[i].character_full_name %></td>
            <td><%= result[i].age %></td>
            <td><%= result[i].appearance %></td>
            <td><%= result[i].biography %></td>
            <td><%= result[i].personality %></td>
            <td><%= result[i].species %></td>
            <td><%= result[i].planet_name %></td>
            <td><%= result[i].universe_name %></td>
            <td><%= result[i].actor_name %></td>
        </tr>
        <% } %>
    </table>

    <table border="1" bgcolor="#2f4f4f" style="width: 80%">
        <tr align="center">
            <th><a href="/characters/add">Add New Character</a></th>
        </tr>
    </table>
<%- include("../includes/footer.ejs"); %>